.top-head{
  padding-top: 50px;
  padding-bottom: 30px;

}

.btn-btn-secondary{
  width: 75px;
  background-color: green;
  border-radius: 20px;
  height: 30px;
  border: #008000;
  margin: 10px;

}

.get-started{
 background-color: green;
 border-radius: 20px;
 width: 35%;
 height: 9%;
 margin-top: 10px;
}
